In [1]:
import pandas

In [2]:
fatalities = pandas.Series (index = ['Australia', 'Albania', 'Libya', 'Monaco'], data=[5.4, 15.1,73.4,"-"])

In [3]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco          -
dtype: object

In [4]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco          -
dtype: object

In [5]:
fatalities.str.isalpha()

Australia      NaN
Albania        NaN
Libya          NaN
Monaco       False
dtype: object

In [6]:
fatalities == "-"

Australia    False
Albania      False
Libya        False
Monaco        True
dtype: bool

In [7]:
data_invalid = fatalities == "-" 
fatalities [data_invalid]

Monaco    -
dtype: object

In [8]:
fatalities [data_invalid] = 0

In [9]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco          0
dtype: object

In [10]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco          0
dtype: object

In [11]:
fatalities.replace ("-",0)

Australia     5.4
Albania      15.1
Libya        73.4
Monaco        0.0
dtype: float64

In [12]:
fatalities = fatalities.replace ("-",0)

In [13]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco        0.0
dtype: float64

In [14]:
fatalities.min()

0.0

In [15]:
fatalities.idxmin()

'Monaco'

In [16]:
fatalities.idxmax()

'Libya'

In [17]:
fatalities.mean(), fatalities.median(), fatalities.std()

(23.475, 10.25, 33.86457096534174)

In [18]:
fatalities

Australia     5.4
Albania      15.1
Libya        73.4
Monaco        0.0
dtype: float64

In [19]:
fatalities.dtype

dtype('float64')

In [20]:
fatalities.astype(int)

Australia     5
Albania      15
Libya        73
Monaco        0
dtype: int64

In [21]:
fatalities2 = fatalities.astype(int)

In [22]:
fatalities2

Australia     5
Albania      15
Libya        73
Monaco        0
dtype: int64

fatalities 2 copies the whole serie

In [23]:
fatalities3 = fatalities[fatalities > 0]

In [25]:
fatalities3

Australia     5.4
Albania      15.1
Libya        73.4
dtype: float64

fatalities3 is just a filter to the serie

In [26]:
fatalities3

Australia     5.4
Albania      15.1
Libya        73.4
dtype: float64

In [28]:
fatalities4 = fatalities3.astype(int)

In [29]:
fatalities4

Australia     5
Albania      15
Libya        73
dtype: int64

In [30]:
fatalities4.astype(float)

Australia     5.0
Albania      15.0
Libya        73.0
dtype: float64

In [31]:
population = pandas.Series (index = ['Australia', 'Burkina Faso', 'Libya'], data=[24000000, 19000000,6300000])

In [32]:
population

Australia       24000000
Burkina Faso    19000000
Libya            6300000
dtype: int64

In [33]:
population * fatalities / 100000

Albania            NaN
Australia       1296.0
Burkina Faso       NaN
Libya           4624.2
Monaco             NaN
dtype: float64

In [34]:
fatality_count = (population * fatalities / 100000).astype(float)
fatality_count

Albania            NaN
Australia       1296.0
Burkina Faso       NaN
Libya           4624.2
Monaco             NaN
dtype: float64

In [36]:
fatality_count.isnull()

Albania          True
Australia       False
Burkina Faso     True
Libya           False
Monaco           True
dtype: bool

In [37]:
fatality_count[fatality_count.notnull()]

Australia    1296.0
Libya        4624.2
dtype: float64